#######################################
# DbWin configuration
#######################################

SECTIONPREFIXON						# Nomi delle variabili senza prefisso di sezione

[CONN]								# Connessione
STR server		=	"127.0.0.1"
STR port		=	"3306"
STR user		=	"pippo"
STR password	=	"pippo01"		# Azzerare campo nella versione finale
STR database	=	"dbc01"
[.]

[INI]								# Impostazioni di base
BOOL quick		=	true			# Avvio e chiusura rapidi
DATE dt			=	1/12/2024
[.]

SECTIONPREFIXON

STR	tipo		= "TIPO"			# Nome della colonna con in tipo di record (particolare, assieme...)
STR tipoP		= "P"
STR tipoA		= "A"
STR tipoC		= "C"
STR tipoS		= "S"

[P]
STR	show		= "CODICE"; "MODIFICA";	"DESCRIZIONE"; "TIPO"; "MATERIALE"; "AGGIORNAMENTO";
STR rdonly		= "TIPO"; "AGGIORNAMENTO"
STR drop		= "MATERIALE";		# Il ';' finale è necessario, per riconoscerlo come lista
STR ins			= "CODICE"; "MODIFICA";	"DESCRIZIONE"; "MATERIALE";
[.]

[C]
STR	show		= "CODICE"; "MODIFICA";	"DESCRIZIONE"; "TIPO"; "MODELLO"; "DETTAGLI"; "COSTRUTTORE"; "PRODOTTO"; "AGGIORNAMENTO";
STR rdonly		= "TIPO"; "DESCRIZIONE"; "AGGIORNAMENTO";
STR drop		= "COSTRUTTORE"; "PRODOTTO";
STR ins			= "CODICE"; "MODIFICA";	"COSTRUTTORE"; "PRODOTTO"; "MODELLO"; "DETTAGLI";
[.]

[A]
STR	show		= "CODICE"; "MODIFICA";	"DESCRIZIONE"; "TIPO"; "AGGIORNAMENTO";
STR rdonly		= "TIPO"; "AGGIORNAMENTO"
STR drop		= "";
STR ins			= "CODICE"; "MODIFICA";	"DESCRIZIONE";
[.]

[S]
STR	show		= "CODICE"; "MODIFICA";	"DESCRIZIONE"; "TIPO"; "AGGIORNAMENTO";
STR rdonly		= "TIPO"; "AGGIORNAMENTO"
STR drop		= "";
STR ins			= "CODICE"; "MODIFICA";	"DESCRIZIONE";
[.]

